/* Global */

body {
  background-color:#ffffff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
 font-family: 'Open Sans', sans-serif;
 font-size: 24px;
 color: #500000;
 font-weight: bold;
}

h2 {
  font-size: 18px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
 font-size: 14px;
}

a {
  color: #006483;
  text-decoration: none;
}

.tamu-featured-title {
  font-size: 20px;
  margin-left: 10px;
}

.featured_content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.featured_content li {
  list-style-type: none;
  float: left;
  box-sizing: border-box;
  height: 310px;
  max-height: 320px;
  margin-bottom: 2em;
}

.featured_content img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border:  solid 1px #d1d1d1;
}

.featured_content li a {
  margin: 10px 10px 10px 10px;
  display: inline-block;
  max-width: 100%;
  font-size: .9em;
  background-color: #ffffff;
  padding: 10px;
  text-decoration: none;
  line-height: 1.2em;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  max-height: inherit;
}

.featured_content li a:hover {
  text-decoration: underline;
}

.featured_content li a span {
  padding: .1em .5em;
  display: block;
  text-align: center;
}

.featured_title {
  font-weight: bold;
  margin: 10px 0 5px 5px;
}

.featured_date {
  margin: 5px;
}

.featured_title:hover, .featured_date:hover {
  text-decoration: underline;
}

/* Media Queries */
/* screen-xs */
@media (max-width: 767px) {
  .tamu-featured-title {
    margin-left: 0;
    padding: 0;
  }

  .featured_content li {
    height: unset;
    max-height: unset;
    margin-bottom: unset;
  }
}

/* screen-sm */
@media (min-width: 768px) and (max-width: 991px) {
  .tamu-featured-title {
    margin-left: 0;
    padding: 0;
  }
}

/* screem-md */
@media (min-width: 992px) and (max-width: 1199px) {

}